<app-header></app-header>
<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <form action="" method="">
      <div class="form-group" id="first">
        <label for="sellist">Client goal(select one):</label>
      <select [(ngModel)]= "goalModel.Clientgoal" name="Client goal" class="form-control" id="myselect" name="sellist">
        <option value="Revenue">Revenue</option>
        <option value="Cost">Cost</option>
        <option value="Efficiecy">Efficiecy</option>
        <option value="Productivity">Productivity</option>
        <option value="Decision support">Decision support</option>
        <option value="Customer experience">Customer experience</option>
        <option value="other" id="me">Other</option>
      </select>
        <input type="text" name="other" class="form-control" placeholder="if other,please specify">
    </div>
    <div class="form-group">
      <label>Stakeholders:</label>
    <input type="text" [(ngModel)]= "goalModel.Stakeholders" name="Stakeholders" class="form-control" placeholder="Stakeholders" required>
    </div>
    <div>
    <h2>Resources</h2>
    <div class="form-inline form-group">
    <label>Amount:</label>
    <input type="text" [(ngModel)]= "goalModel.Amount" name="Amount" class="form-control" placeholder="Amount" required>
    </div>
    <div class="form-inline form-group">
        <label>Equipment:</label>
        <input type="text" [(ngModel)]= "goalModel.Equipment" name="Equipment" class="form-control" placeholder="Equipment" required>
      </div>
      <div class="form-inline form-group">
          <label>Personnel:</label>
          <input type="text" [(ngModel)]= "goalModel.Personnel" name="Personnel" class="form-control" placeholder="Personnel" required>
      </div>
    </div>
    <button class="btn btn-primary" routerLink="/Risk Evaluation" (click)="writeUserData2()">Save</button>
  </form>
  </div>
</div>
<app-footer></app-footer>

