div{
    background-color: rgb(218, 213, 213);
}
label{
    font-weight: bold;
}
option{
    color: black;
}
h2{
    color: purple;
}
.container-fluid{
    min-height: 500px;
}
.d-flex{
    padding-top: 90px;
}